<!DOCTYPE html>
{% extends 'layout.html'%}

{% block body %}

<hr class="style13">
<div class="container-fluid bg-light">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-2 pt-3">
            <div class="form-group ">
                <select name="area" id="area" class="form-control">
                    <option disabled selected hidden>Barrio/Colonia</option>
                    {% if areas %}
                    {% for area in areas %}
                    <option>{{area.AREA}}</option>
                    {% endfor %}

                    {% endif %}
                    <!--  <option>BMW</option>
                      <option>Audi</option>
                      <option>Maruti</option>
                      <option>Tesla</option>  -->
                </select>
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                <select name="department" id="department" class="form-control">
                    <option disabled selected hidden>Departamento</option>

                    {% if departments %}
                    {% for department in departments %}
                    <option>{{department.department}}</option>
                    {% endfor %}

                    {% endif %}
                    <!--   <option>BMW</option>
                       <option>Audi</option>
                       <option>Maruti</option>
                       <option>Tesla</option> -->
                </select>
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                <select name="municipality" id="municipality" class="form-control">
                    <option disabled selected hidden>Municipio</option>

                    {% if municipalities %}
                    {% for municipality in municipalities %}
                    <option>{{municipality.municipality}}</option>
                    {% endfor %}

                    {% endif %}
                    <!--    <option>BMW</option>
                       <option>Audi</option>
                       <option>Maruti</option>
                       <option>Tesla</option> -->
                </select>
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="form-group">
                <select id="inputState" class="form-control">
                    <option disabled selected hidden>Apellido</option>
                    <option>BMW</option>
                    <option>Audi</option>
                    <option>Maruti</option>
                    <option>Tesla</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">

            <button id="mysearch" type="submit" class="btn btn-primary btn-block">Search</button>

        </div>
    </div>
</div>
<hr class="style13">

<!-- Team -->
<section id="team" class="pb-5">

    <div class="container">
        <h5 class="section-title h1">SAPOS</h5>
        <div class="row">

            {% for profile in profiles %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="{{profile.imgpath}}" alt="card image"></p>
                                    <h4 class="card-title">{% if profile.middle_name: %} {{profile.name}}
                                        {{profile.middle_name}} {% else %} {{profile.name }}{% endif %} {% if
                                        profile.lastname_mother: %} {{profile.lastname}} {{profile.lastname_mother}} {%
                                        else %} {{profile.lastname }}{% endif %}</h4>
                                    <p class="card-text"> {% if profile.department: %} {{profile.department}} {% else %}
                                        N/A {% endif %}</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-bug"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {% endfor %}
        </div>

    </div>

    <div class="col-md-4 text-center">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next Step!</button>
        <button id="load" type="button" class="btn btn-info">Load More</button>
    </div>
</section>
<!-- Team -->

<script>


     $('#mysearch').on('click', function() {
         console.log('getJSON request succeeded!');

         $.getJSON('/filter_profiles',{
                mncplty: $('#municipality option:selected').val(),
                dpt:  $('#department option:selected').val(),
                area:  $('#area option:selected').val()
            },
              function(data) {


            })
            .done(function() { console.log('getJSON request succeeded!'); })
            .fail(function(jqXHR, textStatus, errorThrown) { console.log('getJSON request failed! ' + textStatus); });

    });

</script>

{% endblock %}



