<!DOCTYPE html>
{% extends 'layout.html'%}

{% block body %}
<head>
    <title>Leaflet Cluster Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"/>

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
    <script type='text/javascript'
            src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>


    <style>
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: auto;
    }

    </style>


</head>


<body>
<h1>Leaflet Cluster Example</h1>

<p>Here's an interactive map indicating where airports and train stations are located around the world. The data comes
    from <a href="http://openflights.org/data.html" target="_blank">OpenFlights.org</a>.

<div id="map" style="height: 440px; border: 1px solid #AAA;" class="mb-4"></div>


<script type='text/javascript' src='/static/js/marker.js'></script>
<script type='text/javascript' src='/static/js/leaf-demo.js'></script>
<script>


    function loadsapos( jQuery ) {
        console.log( "ON LOAD ready!" );

          $.getJSON('/load_sapos',{

            },
              function(data) {
                for (var i = 0; i < data.length; i++ ) {
                         console.log( "test!" );
                    var markerClusters = L.markerClusterGroup();

                    var popup = data[i].name +  ' ' +  data[i].lastname +
						  '<br/>' + data[i].area + ' ' + data[i].municipality +
						  '<br/><b>ALIAS:</b> ' + data[i].alias +
						  '<br/><b>CEDULA:</b> ' + data[i].cedula_id ;

			        var m = L.marker( [data[i].latitude, data[i].longitude], {icon: myIcon} ).on('click', function() {
                                            centerLeafletMapOnMarker(map, this);}).bindPopup( popup );

			        markerClusters.addLayer( m );
                  }

                  map.addLayer( markerClusters );

                  map.setView(new L.LatLng( 12.8691653, -85.1411896), 7);

            })
            .done(function() { console.log('getJSON request succeeded!'); })
            .fail(function(jqXHR, textStatus, errorThrown) { console.log('getJSON request failed! ' + textStatus); });
    }


    $( window ).on( "load", loadsapos );

    function centerLeafletMapOnMarker(map, marker) {
        var latLngs = [ marker.getLatLng() ];
        var markerBounds = L.latLngBounds(latLngs);
        map.fitBounds(markerBounds);
    }



</script>
</body>
{% endblock %}